
<table >
  <td>
    <div id="item_internal">
        <div>
          <a href="<%= item["detailUrl"]%>" target="_blank">
          <div id="item_internal_image">
            <image src="<%= item["imageName"]%>"/></div>
          <div><p class="item_name"><%= item["name"][0,60]%>...</p></div>
          <% if !item["oldPrice"].nil?%>
            <div><span class="item_old_price">De: <%= item["oldPrice"]%></span></div>
          <% end %>
          <div class="item_price"><span>Por: <strong><%= item["price"] %></strong><br/>
          <%= raw( item["productInfo"]["paymentConditions"].gsub("de ", "de <strong>" +item["price"].split(" ")[0]+ "</strong>" ) ) %></span></div>
          </a>
        </div>

    </div>
</td>
</table>
